body {
    font-family: 'Raleway' , sans-serif;
    font-size: 20px;
    word-spacing: 8px;
    background-image: url(https://cdn.blueswandaily.com//2018/09/NCE000-2000x1200.jpg);
    


}
p {
    background-color: lightblue;
}
